{% extends "base.html" %}
{% block css %}guest/best_of_only.css{% endblock %}
{% block title %}Best Of Only Not My Job Guests{% endblock %}
{% block header_title %}Best Of Only Not My Job Guests{% endblock %}
{% block breadcrumb %}
<div id="homelink">&lt; <a href="{{ url_for('index') }}">Home</a></div>
{% endblock %}
{% block synopsis %}
<p>
    With Wait Wait... Don't Tell Me! recording two shows when they travel to
    some cities; in which, the Thursday taping getting aired that weekend and
    the Friday taping used for future Best Of shows. The Friday shows have
    different Not My Job guest lined up and thus have only appeared in later
    Best Of shows.
</p>
<p>
    This report lists out all of the Not My Job guests that have only appeared
    on Best Of shows and not regular shows.
</p>
{% endblock %}
{% block content %}
<!-- Start Best Of Only Guest Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="guest-name">
        <col class="show-date">
        <col class="show-repeat-show">
        <col class="guest-score">
        <col class="score-exception">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Guest</th>
            <th scope="col">Show Date</th>
            <th scope="col">Repeat Show</th>
            <th scope="col">Score</th>
            <th scope="col">Scoring Exception</th>
        </tr>
    </thead>
    <tbody>
    {% for guest in guests %}
        {% if guest.appearances|length == 1 %}
        <tr>
            <td>
                <a href="https://stats.wwdt.me/guests/{{ guest.slug }}">
                    {{ guest.name }}
                </a>
            <td>
                <a href="https://stats.wwdt.me/shows/{{ guest.appearances[0].date }}">
                    {{ guest.appearances[0].date }}
                </a>
            </td>
            <td>{{ guest.appearances[0].repeat_show }}</td>
            <td>{{ guest.appearances[0].score }}</td>
            <td>{{ guest.appearances[0].exception }}</td>
        </tr>
        {% else %}
            {% for count in range(0, guest.appearances|length) %}
        <tr>
                {% if count == 0 %}
            <td rowspan="{{ guest.appearances|length }}">
                <a href="https://stats.wwdt.me/guests/{{ guest.slug }}">
                    {{ guest.name }}
                </a>
            </td>
                {% endif %}
            <td>
                <a href="https://stats.wwdt.me/shows/{{ guest.appearances[count].date }}">
                    {{ guest.appearances[count].date }}
                </a>
            </td>
            <td>{{ guest.appearances[count].repeat_show }}</td>
            <td>{{ guest.appearances[count].score }}</td>
            <td>{{ guest.appearances[count].exception }}</td>
        </tr>
            {% endfor %}
            
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<!-- Start Best Of Only Guest Section -->
{% endblock %}