{% extends "base.html" %}
{% block css %}show/shows.css{% endblock %}
{% block title %}Shows with Guest Scorekeeper{% endblock %}
{% block header_title %}Shows with Guest Scorekeeper Report{% endblock %}
{% block synopsis %}
<p>
    This report lists all shows, including Best Of and repeats, that had
    a guest scorekeeper filling in.
</p>
{% endblock %}
{% block breadcrumb %}
<div id="homelink">&lt; <a href="{{ url_for('index') }}">Home</a></div>
{% endblock %}
{% block content %}
<!-- Start Guest SCorekeeper Shows Listing -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="show-date">
        <col class="show-flags">
        <col class="show-host">
        <col class="show-scorekeeper">
        <col class="show-location">
        <col class="show-panelists">
        <col class="show-guest">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Best Of/Repeat</th>
            <th scope="col">Host</th>
            <th scope="col">Scorekeeper</th>
            <th scope="col">Location</th>
            <th scope="col">Panelists</th>
            <th scope="col">Guest</th>
        </tr>
    </thead>
    <tbody>
        {% for show in shows %}
        <tr>
            <td><a href="{{ stats_url }}/shows/{{ show.date|replace('-', '/') }}">{{ show.date }}</a></td>
            {% if show.best_of and show.repeat %}
            <td>Best Of / Repeat</td>
            {% elif show.best_of and not show.repeat %}
            <td>Best Of</td>
            {% elif show.repeat and not show.best_of %}
            <td>Repeat</td>
            {% else %}
            <td class="no-data">&nbsp;</td>
            {% endif %}
            {% if show.host_guest %}
            <td><strong>{{ show.host }}</strong></td>
            {% else %}
            <td>{{ show.host }}</td>
            {% endif %}
            <td>{{ show.scorekeeper }}</td>
            <td>{{ show.location.venue }} ({{ show.location.city }}, {{ show.location.state }})</td>
            <td class="panelist-names">
                <ul>
                {% for panelist in show.panelists %}
                <li>{{ panelist.name }}</li>
                {% endfor %}
                </ul>
            </td>
            {% if show.guests %}
            <td class="guest-names">
                <ul>
                {% for guest in show.guests %}
                <li>{{ guest.name }}</li>
                {% endfor %}
                </ul>
            </td>
            {% else %}
            <td class="no-data">&nbsp;</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Best Of/Repeat</th>
            <th scope="col">Location</th>
            <th scope="col">Host</th>
            <th scope="col">Scorekeeper</th>
            <th scope="col">Panelists</th>
            <th scope="col">Guest</th>
        </tr>
    </tfoot>
</table>
<!-- End Guest Scorekeeper Shows Listing -->
{% endblock %}
