{% extends "base.html" %}
{% block css %}show/lightning_round_score_start.css{% endblock %}
{% block title %}Lightning Round Starting Scores{% endblock %}
{% block header_title %}Lightning Round Starting Scores{% endblock %}
{% block breadcrumb %}
<div id="homelink">&lt; <a href="{{ url_for('index') }}">Home</a></div>
{% endblock %}
{% block synopsis %}
<p>
    This report provides information about the scores at the start of the
    Lightning Fill-in-the-Blank segment (also known as "the Lightning round").
</p>
{% endblock %}
{% block content %}
<!-- Start Lightning Round Starting Scores Section -->
<h2>Shows Where Panelists Started the Lightning Round in a Three-Way Tie</h2>
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="show-date">
        <col class="show-start-score">
        <col class="show-panelists">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Show Date</th>
            <th scope="col">Starting Score</th>
            <th scope="col">Panelists</th>
        </tr>
    </thead>
    <tbody>
        {% for show in same_start %}
        <tr>
            <td>{{ same_start[show]["date"] }}</td>
            <td>{{ same_start[show]["score"] }}</td>
            <td class="panelist-names">
                <ul>
                {% for panelist in same_start[show]["panelists"] %}
                    <li> {{panelist["name"] }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Show Date</th>
            <th scope="col">Starting Score</th>
            <th scope="col">Panelists</th>
        </tr>
    </tfoot>
</table>

<!-- Start Lightning Round Starting Scores Section -->
{% endblock %}