{% extends "base.html" %}
{% block css %}show/shows.css{% endblock %}
{% block title %}Original Shows{% endblock %}
{% block header_title %}Original Shows Report{% endblock %}
{% block synopsis %}
<p>
    Listing of each original broadcast show, which excludes: Best Of, Repeats,
    pledge specials and other special shows that were not broadcast in their
    entirety.
</p>
{% endblock %}
{% block breadcrumb %}
<div id="homelink">&lt; <a href="{{ url_for('index') }}">Home</a></div>
{% endblock %}
{% block content %}
<!-- Start Original Show Listing -->
<p>
    <strong>Sort Order </strong>
    {% if ascending %}
    [ Ascending | <a href="{{ url_for('show_original_shows', sort="desc") }}">Descending</a> ]
    {% else %}
    [ <a href="{{ url_for('show_original_shows', sort="asc") }}">Ascending</a> | Descending ]
    {% endif %}
</p>
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="show-number">
        <col class="show-date">
        <col class="show-location">
        <col class="show-host">
        <col class="show-scorekeeper">
        <col class="show-panelists">
        <col class="show-guest">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
            <th scope="col">Host</th>
            <th scope="col">Scorekeeper</th>
            <th scope="col">Panelists</th>
            <th scope="col">Guest</th>
        </tr>
    </thead>
    <tbody>
        {% for show in shows %}
        <tr>
            <td>{{ show.count }}</td>
            <td><a href="{{ stats_url }}/shows/{{ show.date|replace('-', '/') }}">{{ show.date }}</a></td>
            <td>{{ show.location.venue}} ({{ show.location.city }}, {{ show.location.state }})</td>
            <td>{{ show.host }}</td>
            <td>{{ show.scorekeeper }}</td>
            <td class="panelist-names">
                <ul>
                {% for panelist in show.panelists %}
                <li>{{ panelist.name }}</li>
                {% endfor %}
                </ul>
            </td>
            {% if show.guest %}
            <td>{{ show.guest.name }}</td>
            {% else %}
            <td class="no-data">&nbsp;</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
            <th scope="col">Host</th>
            <th scope="col">Scorekeeper</th>
            <th scope="col">Panelists</th>
            <th scope="col">Guest</th>
        </tr>
    </tfoot>
</table>
<!-- End Original Show Listing -->
{% endblock %}