@media all {
    html, button, input, select, textarea, .pure-g [class *= "pure-u"] { font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI"; }
    body {  margin: 1.5rem; }
    h1 { font-size: 1.5rem; font-weight: 700; }
    h2 { font-size: 1.25rem; font-weight: 700; }
    table.pure-table { max-width: 72rem; }
    table.pure-table thead, table.pure-table tfoot { background-color: gainsboro; font-weight: 700; text-align: center; }
    table.pure-table td { vertical-align: top; }
    td.no-data { background-color: lightslategray; }
    footer { font-size: 0.9rem; margin-top: 1.5rem; }
}

@media only screen and (max-width: 480px) {
    html, body { font-size: initial; margin: 0.75rem; }
}
