{% extends "base.html" %}
{% block css %}location/average_scores.css{% endblock %}
{% block title %}Average Score by Location{% endblock %}
{% block header_title %}Average Score by Location Report{% endblock %}
{% block breadcrumb %}
<div id="homelink">&lt; <a href="{{ url_for('index') }}">Home</a></div>
{% endblock %}
{% block content %}
<!-- Start Location Breakdown -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="location-venue">
        <col class="location-city">
        <col class="location-state">
        <col class="location-avg-score">
        <col class="location-avg-total">
        <col class="location-shows">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Venue</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Average Score</th>
            <th scope="col">Average Total</th>
            <th scope="col">Shows</th>
        </tr>
    </thead>
    <tbody>
        {% for location in locations %}
        <tr>
            <td>{{ location.venue }}</td>
            <td>{{ location.city }}</td>
            <td>{{ location.state }}</td>
            {# Using str.format() in order to get clean, floating output
                from Decimal numbers
            #}
            <td>{{ "{:f}".format(location.average_score) }}</td>
            <td>{{ "{:f}".format(location.average_total) }}</td>
            <td>{{ "{:f}".format(location.show_count) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- End Location Breakdown -->
{% endblock %}