{% extends "base.html" %}
{% block title %}Not Found{% endblock %}

{% block content %}
<h1>Oops...</h1>

<p>We couldn't find what you were looking for.</p>

<p>Use the following links to navigate to other pages on this site.</p>

<ul>
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('get_guest') }}">Guest</a></li>
    <li><a href="{{ url_for('get_host') }}">Host</a></li>
    <li><a href="{{ url_for('get_location') }}">Location</a></li>
    <li><a href="{{ url_for('get_panelist') }}">Panelist</a></li>
    <li><a href="{{ url_for('get_scorekeeper') }}">Scorekeeper</a></li>
    <li><a href="{{ url_for('get_show') }}">Show</a></li>
</ul>

{% endblock content %}
