@media all {
    col.guest-name { width: 15rem; }
    col.show-date, col.score-exception { width: 9rem; }
    col.guest-score { width: 6rem; }
    td.show-notes { white-space: pre-line; width: 39rem; }
}