{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock head %}

{% block synopsis %}
<section id="summary">
<p>
    This site provides reports on various aspects of the data recorded in the
    <a href="{{ stats_url }}">Wait Wait... Don't Tell Me! Stats and Show Details</a>
    database that don't really fit neatly into the main Stats and Show Details
    site.
</p>
</section>    
{% endblock synopsis %}

{% block content %}
<section id="toc">
<h2>Available Report Categories</h2>
<ul>
    <li><a href="#guest">Guest</a></li>
    <li><a href="#host">Host</a></li>
    <li><a href="#location">Location</a></li>
    <li><a href="#panelist">Panelist</a></li>
    <li><a href="#scorekeeper">Scorekeeper</a></li>
    <li><a href="#show">Show</a></li>
</ul>
</section>

<section id="guest">
<h2>Guest</h2>
{% include "guest/_reports.html" %}
</section>

<section id="host">
<h2>Host</h2>
{% include "host/_reports.html" %}
</section>

<section id="location">
<h2>Location</h2>
{% include "location/_reports.html" %}
</section>

<section id="panelist">
<h2>Panelist</h2>
{% include "panelist/_reports.html" %}
</section>

<section id="scorekeeper">
<h2>Scorekeeper</h2>
{% include "scorekeeper/_reports.html" %}
</section>

<section id="show">
<h2>Show</h2>
{% include "show/_reports.html" %}
</section>

{% endblock content %}
