@media all {
    body { max-width: initial !important; }
    #results { max-height: 80vh; overflow: scroll; }
    table.pure-table { margin-right: 0.25rem; width: initial; }
    table.pure-table thead, table.pure-table tfoot { background-color: skyblue; font-weight: 600; text-align: center; }
    td.panelist-name { background-color: gainsboro; font-weight: 600; }
    td.panelist-name a { color: black; }
    td.panelist-data { text-align: center; vertical-align: middle !important; }
    td.total { background-color: gainsboro; font-weight: 600; }
}

@media only screen and (max-width: 480px) {
    html, body { font-size: initial; margin: 0.75rem; }
    h1 { font-size: 1.2rem; }
    h2 { font-size: 1.1rem; }
    #results { font-size: 0.975rem; margin: 0; max-height: 45vh; }
}

@media print {
    #results { border: initial; max-height: initial; overflow: initial; }
}
