@media all {
    html, button, input, select, textarea, .pure-g [class *= "pure-u"] { font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI"; }
    body { font-size: 1rem; margin-left: 0; }
    div#header h1 { font-size: 2rem; font-weight: 700; text-align: center; }
    div#header h2 { font-size: 1.25rem; font-weight: 400; font-style: italic; text-align: center; }
    div#menu { border-bottom: 2px solid #333; float: left; margin: 0; width: 19.5%; position: fixed; top: 1.5em; height: 90.5%; overflow: auto; }
    div#menu .pure-menu-heading { color: black; font-weight: 700; }
    div#menu .pure-menu-link { color: #444; }
    div#content { float: right; margin-top: 0; margin-right: 0.75em; width: 80%; }
    div#footer { font-size: 0.9rem; margin: 1em auto; width: 98%; }
    table.pure-table { margin: 1.5em auto; width: 98%; }
    table.pure-table thead, table.pure-table tfoot { background-color: lightgray; font-weight: 600; text-align: center; }
    table.pure-table th.pnlname { border-bottom: 1px solid #cbcbcb; }
    table.pure-table th.pnlname h3 { font-size: 1.25rem; margin: 0.25em; }
    col.tc1 { width: 55%; }
    col.tc2, col.tc3, col.tc4 { width: 15%; }
}

@media only screen and (max-width: 820px) {
    body { font-size: 1.1rem; margin: 0.5em; }
    div#header, div#content, div#footer { margin: 0 auto; width: 100%; }
    div#footer { font-size: 1rem; }
    div#menu { display: none; visibility: hidden; }
}

@media print {
    body { margin: 0.5em; }
    div#header, div#content, div#footer { width: 100%; }
    div#header h1 { font-size: 1.75rem; }
    div#header h2 { font-size: 1.25rem; font-weight: 400; }
    div#footer { font-size: 1rem; }
    div#menu { display: none; visibility: hidden; }
    table.pure-table tr { break-inside: avoid; margin: 0.25em auto; width: 95%;}
}
