@media all {
    form { border: 1px solid #666; padding: 0.75em; }
    .pure-form fieldset { margin: 0; padding: 0; }
    .pure-form legend { font-weight: 600; }
    .panelist-fields label { padding-right: 0.5em; }
    .pure-form .panelist-fields { display: inline-block; margin: 0 0.25em; padding-bottom: 0.5em; }
    .pure-form .panelist-options { display: inline-block; margin: 0.5em 0 0 0.25em; }
    .panelist-options label { padding-right: 0.5em; }
    .panelist-options button { margin: 0 0.5em; }
    .pure-form .panelist-option { display: inline-block; margin: 0 1.5em 0 0; }
    .pure-form .panelist-button { display: inline-block; }
    .pure-form label { font-weight: 600; }
    .pure-form select { height: 2.5em; }
    .pure-form .pure-button-primary { background-color: #00e;}
    hr { margin: 1.5em 0; }
    table.pure-table { max-width: initial; }
    col.show-date { width: 9rem; }
    col.score { width: 6rem; }
    col.rank { width: 10rem; }
    td.score-higher, td.score-lower, td.score-tied { text-align: center; }
    td.score-higher { background-color: rgba(245, 80, 0, 0.85); font-weight: 600; } /* #f5783af0 */
    td.score-lower { background-color: inherit; }
    td.score-tied { background-color: #eee; }
    p.result-message { font-style: italic; margin: 1em 0; }
}
