@media all {
    col.panelist-name { width: 14rem; }
    col.panelist-streak-total, col.panelist-streak-count { width: 5rem; }
    col.panelist-streak-dates { width: 9rem; }
    col.panelist-streak-dates-draw { width: 15rem; }
    
    td.show-dates ul { list-style: none; margin: 0; padding: 0; }
}
