<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wait Wait... Don't Tell Me! Panelist Appearances by Year Report</title>
    <!-- Import Pure CSS Base -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600,700|IBM+Plex+Sans:400,600,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Import Custom CSS -->
    <link rel="stylesheet" href="/static/css/panelist/appearances_by_year.css">

    {% if ga_property_code %}
    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ ga_property_code }}', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
    {% endif %}
</head>
<body>
    <div class="body">
        <!-- Start Content -->
        <div id="content">
            <!-- Start Header -->
            <div id="header">
                <div id="homelink">
                    &lt; <a href="{{ url_for('index') }}">Home</a>
                </div>
                <h1>Wait Wait Panelist Appearances by Year Report</h1>
                <p>
                    Note: The numbers listed below do not include panelist appearances in Best Of or Repeat shows.
                </p>
            </div>
            <!-- End Header -->

            <div id="results">
            <table class="pure-table pure-table-bordered">
                <colgroup>
                    {% for col in range((show_years|length + 2)) %}
                        <col class="tc{{ col + 1 }}">
                    {% endfor %}
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">Panelist</th>
                        {% for year in show_years %}
                        <th scope="col">{{ year }}</th>
                        {% endfor %}
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for panelist in panelists %}
                    <tr>
                        <td class="panelist-name">{{ panelist["name"] }}</td>
                        {% for year in show_years %}
                            {% if year in panelist["appearances"] %}
                        <td class="panelist-data">{{ panelist["appearances"][year] }}</td>
                            {% else %}
                        <td class="panelist-data no-data">&nbsp;</td>
                            {% endif %}
                        {% endfor %}
                        <td class="panelist-data total">{{ panelist["appearances"]["total"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">Panelist</th>
                        {% for year in show_years %}
                        <th scope="col">{{ year }}</th>
                        {% endfor %}
                        <th scope="col">Total</th>
                    </tr>
                </tfoot>
            </table>
            </div>

            <!-- Start Footer -->
            <div id="footer">
                    <div id="timestamp">Page last generated on {{ rendered_at }}.</div>
                    <div id="copyright">Copyright &copy; 2019 <a href="http://linhpham.org/">Linh Pham</a>. All rights reserved.</div>
            </div>
            <!-- End Footer -->
        </div>
        <!-- End Content -->
    </div>
</body>
</html>