{% extends "base.html" %}
{% block css %}panelist/appearances_by_year.css{% endblock %}
{% block title %}Panelist Appearances by Year{% endblock %}
{% block header_title %}Panelist Appearances by Year Report{% endblock %}
{% block synopsis %}
<p>Note: The numbers listed below do not include panelist appearances in Best Of or Repeat shows.</p>
{% endblock %}
{% block breadcrumb %}
<div id="homelink">&lt; <a href="{{ url_for('index') }}">Home</a></div>
{% endblock %}
{% block content %}
<div id="results">
<table class="pure-table pure-table-bordered">
    <colgroup>
        {% for col in range((show_years|length + 2)) %}
            <col class="tc{{ col + 1 }}">
        {% endfor %}
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Panelist</th>
            {% for year in show_years %}
            <th scope="col">{{ year }}</th>
            {% endfor %}
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for panelist in panelists %}
        <tr>
            <td class="panelist-name">{{ panelist.name }}</td>
            {% for year in show_years %}
                {% if year in panelist.appearances %}
            <td class="panelist-data">{{ panelist.appearances[year] }}</td>
                {% else %}
            <td class="panelist-data no-data">&nbsp;</td>
                {% endif %}
            {% endfor %}
            <td class="panelist-data total">{{ panelist.appearances.total }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Panelist</th>
            {% for year in show_years %}
            <th scope="col">{{ year }}</th>
            {% endfor %}
            <th scope="col">Total</th>
        </tr>
    </tfoot>
</table>
</div>
{% endblock %}