{% extends "base.html" %}
{% block title %}Panel Gender Mix | Panelist{% endblock %}

{% block head %}
{{ super ()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/panelist/gender_mix.css') }}">
{% endblock head %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('get_panelist') }}">Panelist</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Panel Gender Mix</h2>
<p>
    This report provides a breakdown of the gender mix of panels for all
    broadcasted shows by year, excluding Best Of, Repeats, pledge specials,
    and the 25th Anniversary special.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Panel Mix Breakdown Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="panel-year">
        <col class="panel-mix">
        <col class="panel-mix">
        <col class="panel-mix">
        <col class="panel-mix">
        <col class="panel-total">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">0 W / 3 M</th>
            <th scope="col">1 W / 2 M</th>
            <th scope="col">2 W / 1 M</th>
            <th scope="col">3 W / 0 M</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for year in panel_gender_mix %}
        <tr>
            <td>{{ year }}</td>
            <td>{{ panel_gender_mix[year]["0{}".format(gender)] }}</td>
            <td>{{ panel_gender_mix[year]["1{}".format(gender)] }}</td>
            <td>{{ panel_gender_mix[year]["2{}".format(gender)] }}</td>
            <td>{{ panel_gender_mix[year]["3{}".format(gender)] }}</td>
            <td>{{ panel_gender_mix[year].total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- End Panel Mix Breakdown Section -->
{% endblock content %}
