<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Panelist vs Panelist  | Wait Wait Don't Tell Me! Reports</title>
    <!-- Import Pure CSS Base -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Import Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panelist/panelist_vs_panelist.css') }}">

    {% if ga_property_code %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_property_code }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ ga_property_code }}');
    </script>
    <!-- End Google Analytics -->
    {% endif %}
</head>
<body>
    <div class="body">
        <!-- Start Side Navigation -->
        <div id="menu">
            <div class="pure-menu menu-customized">
                <span class="pure-menu-heading">Site</span>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="{{ url_for('index') }}" class="pure-menu-link">Home</a></li>
                    <li class="pure-menu-item"><a href="//wwdt.me/" class="pure-menu-link">Stats Page</a></li>
                </ul>

                <span class="pure-menu-heading">Panelists</span>
                <ul class="pure-menu-list">
                {% for _, panelist in panelists.items() %}
                    <li class="pure-menu-item"><a href="#{{ panelist.slug }}" class="pure-menu-link">{{ panelist.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <!-- End Side Navigation -->

        <!-- Start Content -->
        <div id="content">
            <!-- Start Header -->
            <div id="header">
                <h1>Wait Wait Panelist vs Panelist Report</h1>
                <h2>Report detailing how well a panelist has performed against other panelists</h2>
            </div>
            <!-- End Header -->

            <div id="results">
                {% for panelist, vs_panelists in results.items() %}
                
                <section class="panelist" id="{{ panelists[panelist]['slug'] }}">
                    <table class="pure-table pure-table-bordered">
                        <colgroup>
                            <col class="tc1">
                            <col class="tc2">
                            <col class="tc3">
                            <col class="tc4">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="4" class="pnlname"><h3>{{ panelists[panelist].name }}</h3></th>
                            </tr>
                            <tr>
                                <th class="tc1">Ranked vs</th>
                                <th class="tc2">Higher</th>
                                <th class="tc3">Tied</th>
                                <th class="tc4">Lower</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for vs_panelist, result in vs_panelists.items() %}
                            {% if (result.wins, result.draws, result.losses) != (0, 0, 0) %}
                            <tr>
                                <td>{{ panelists[vs_panelist].name }}</td>
                                <td>{{ result.wins }}</td>
                                <td>{{ result.draws }}</td>
                                <td>{{ result.losses }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </section>
                {% endfor %}
            </div>

            <!-- Start Footer -->
            <div id="footer">
                    <div id="timestamp">Page last generated on {{ rendered_at() }}.</div>
                    <div id="copyright">Copyright &copy; 2019&ndash;{{ current_year() }} <a href="http://linhpham.org/">Linh Pham</a>. All rights reserved.</div>
            </div>
            <!-- End Footer -->
        </div>
        <!-- End Content -->
    </div>
</body>
</html>