{% extends "base.html" %}
{% block title %}Rankings Summary | Panelist{% endblock %}

{% block head %}
{{ super ()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/panelist/rankings_summary.css') }}">
{% endblock head %}

{% block breadcrumb %}
<div id="breadcrumb">
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('get_panelist') }}">Panelist</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

{% block synopsis %}
<h2>Rankings Summary</h2>
<p>
    This report provides a break down of each panelist's ranking
    statistics.
</p>
{% endblock synopsis %}

{% block content %}
<!-- Start Panelist Rankings Breakdown Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="panelist-name">
        <col class="panelist-rank">
        <col class="panelist-rank">
        <col class="panelist-rank">
        <col class="panelist-rank">
        <col class="panelist-rank">
        <col class="panelist-count">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Panelist</th>
            <th scope="col">First</th>
            <th scope="col">First Tied</th>
            <th scope="col">Second</th>
            <th scope="col">Second Tied</th>
            <th scope="col">Third</th>
            <th scope="col">Count</th>
        </tr>
    </thead>
    <tbody>
        {% for panelist in panelists_rankings %}
        <tr>
            <td><a href="{{ stats_url }}/panelists/{{ panelist }}">
                {{ panelists[panelist].name }}</a></td>
            {% if panelists_rankings[panelist] %}
            <td>
                {{ panelists_rankings[panelist]["first"] }}<br>
                ({{ panelists_rankings[panelist]["percent_first"]}} %)
            </td>
            <td>
                {{ panelists_rankings[panelist]["first_tied"] }}<br>
                ({{ panelists_rankings[panelist]["percent_first_tied"]}} %)
            </td>
            <td>
                {{ panelists_rankings[panelist]["second"] }}<br>
                ({{ panelists_rankings[panelist]["percent_second"]}} %)
            </td>
            <td>
                {{ panelists_rankings[panelist]["second_tied"] }}<br>
                ({{ panelists_rankings[panelist]["percent_second_tied"]}} %)
            </td>
            <td>
                {{ panelists_rankings[panelist]["third"] }}<br>
                ({{ panelists_rankings[panelist]["percent_third"]}} %)
            </td>
            <td>{{ panelists_rankings[panelist]["count"] }}</td>
            {% else %}
            <td class="no-data" colspan="6">&nbsp;</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Panelist</th>
            <th scope="col">First</th>
            <th scope="col">First Tied</th>
            <th scope="col">Second</th>
            <th scope="col">Second Tied</th>
            <th scope="col">Third</th>
            <th scope="col">Count</th>
        </tr>
    </tfoot>
</table>
<!-- End Panelist Rankings Breakdown Section -->
{% endblock content %}
