{% extends "base.html" %}
{% block css %}panelist/win_streaks.css{% endblock %}
{% block title %}Wait Wait... Don't Tell Me! Panelist Win Streaks Report{% endblock %}
{% block header_title %}Wait Wait... Don't Tell Me! Panelist Win Streaks Report{% endblock %}
{% block synopsis %}
<p>This report provides the longest outright win streak and the longest win streak,
including draws, for each panelist.</p>
{% endblock %}
{% block breadcrumb %}
<div id="homelink">&lt; <a href="{{ url_for('index') }}">Home</a></div>
{% endblock %}
{% block content %}
<!-- Start Panelist Win Streaks Section -->
<table class="pure-table pure-table-bordered">
    <colgroup>
        <col class="panelist-name">
        <col class="panelist-streak-total">
        <col class="panelist-streak-count">
        <col class="panelist-streak-dates">
        <col class="panelist-streak-total">
        <col class="panelist-streak-count">
        <col class="panelist-streak-dates">
    </colgroup>
    <thead>
        <tr>
            <th scope="col" rowspan="2">Panelist</th>
            <th colspan="3">Outright Wins</th>
            <th colspan="3">Wins with Draws</th>
        </tr>
        <tr>
            <th scope="col">Total</th>
            <th scope="col">#</th>
            <th scope="col">Shows</th>
            <th scope="col">Total</th>
            <th scope="col">#</th>
            <th scope="col">Shows</th>
        </tr>
    </thead>
    <tbody>
        {% for panelist in win_streaks %}
        <tr>
            <td>{{ panelist.name }}</td>
            <td>{{ panelist.total_wins }}</td>
            <td>{{ panelist.longest_win_streak }}</td>
            {% if not panelist.longest_win_streak_dates %}
            <td class="no-data">&nbsp;</td>
            {% else %}
            <td class="show-dates">
                <ul>
                {% for show in panelist.longest_win_streak_dates %}
                <li>{{ show.show_date }}</li>
                {% endfor %}
                </ul>
            </td>
            {% endif %}
            <td>{{ panelist.total_wins_with_draws }}</td>
            <td>{{ panelist.longest_win_streak_with_draws }}</td>
            {% if not panelist.longest_win_streak_with_draws_dates %}
            <td class="no-data">&nbsp;</td>
            {% else %}
            <td class="show-dates">
                <ul>
                {% for show in panelist.longest_win_streak_with_draws_dates %}
                <li>{{ show.show_date }}</li>
                {% endfor %}
                </ul>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col" rowspan="2">Panelist</th>
            <th scope="col">Total</th>
            <th scope="col">#</th>
            <th scope="col">Shows</th>
            <th scope="col">Total</th>
            <th scope="col">#</th>
            <th scope="col">Shows</th>
        </tr>
        <tr>
            <th colspan="3">Outright Wins</th>
            <th colspan="3">Wins with Draws</th>
        </tr>
    </tfoot>
</table>
<!-- Start Panelist Win Streaks Section -->
{% endblock %}